* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
  background: #1f242d;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.box {
  top: 70px;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: 1.5s;
  transform: perspective(1000px) rotateY(0deg);
  margin-left: 300px;
  animation: rotateGallery 30s linear infinite;
}

@keyframes rotateGallery {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  -webkit-box-reflect: below 0pxlinear-gradient(transparent, transparent, #0004);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(45deg, #da43ba, #7322a2);
  border: 1px solid #de43ba;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ccc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.volver {
  position: fixed;
  top: 20px;
  right: 50px;
  margin: 10px;
  background-color: #1f242d;
  color: #de43ba;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
    0 6px 6px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25),
    0 4px 4px #de43ba;
}

.volver:hover {
  background-color: #de43ba;
  color: #1f242d;
}
.modal-content {
  margin-top: 90px;
  width: 360px;
  height: 120px;
  background-color: #de43ba;
  color: #1f242d;
  padding: 10px;
  display: block;
}
.close {
  color: #1f242d;
  font-weight: bolder;
  cursor: pointer;
}

#mensaje-confirmacion {
  color: #1f242d;
  background-color: #de43ba;
  padding: 10px;
  display: block;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact h2.heading {
  font-size: 1.8rem;
  margin-top: 9rem;
  position: absolute;
  top: 0;
  transform: translateX(-22%);
  z-index: 2;
}

.contact form {
  right:3%;
  top: 7rem;
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

span {
  color: #de43ba;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  font-size: 1.2rem;
  color: #eee;
  background: #292f3a;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  position: relative;
  border: 2px solid #292f3a;
}

.contact form .input-box input::before,
.contact form textarea::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  top: -2px;
  z-index: -1;
  background: linear-gradient(45deg, #45f3ff, #ff2770);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.contact form .input-box input:focus::before,
.contact form textarea:focus::before {
  transform: scaleX(1);
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  border-color: #de43ba;
  box-shadow: 0 0 10px #de43ba;
  outline: none;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #de43ba,
    #f441a5 30%,
    #6b0554 60%,
    #de43ba
  );
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.contact form button:hover {
  background-size: 400%;
  color: #de43ba;
  animation: gradient 1.5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.error {
  background-color: #1f242d;
  color: #de43ba;
  padding: 10px;
  text-align: center;
}
.modal {
  display: none;
}

.modal-content {
  padding: 20px;
  text-align: center;
}

.custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f242d;
  color: #de43ba;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.custom-alert-content {
  position: relative;
}

.custom-alert .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (max-width: 768px){
  .box{
    width: 100px;
    height: 100px;
    position: absolute;
    top:15%;
    right: 20%;
  }
  .box .card{
    font-size: 10px;
  }
  .container{
    margin-left: 50px;
  }
  .contact{
    margin-top: 60%;
    justify-content: left;
    margin-right: 9%;

  }
  .contact h2.heading{
    margin-top: 80%;
    font-size: 18px;
  }
  form{
    width: 350px;
    height: 300px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .box{
    width: 160px;
    height: 160px;
    position: absolute;
    top:15%;
    right: 40%;
  }
  .box .card{
    font-size: 15px;
  }
  .contact{
    margin-top: 60%;
    justify-content: left;
    margin-right: 7%;

  }
  .contact h2.heading{
    margin-top: 70%;
  }
}


