* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f242d;
    color: white;
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

span {
    color: #de43ba;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}
/* Estilos para los cubos */
.cubes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    width: 400px;
    margin-top: 10px;
}

.cube {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    margin: 5px;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 14px;
}

.front  { transform: rotateY(0deg) translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }
















