* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f242d;
  color: #ccc;
  height: 100vh;
  font-family: "Playfair Display", serif;
  padding: 0 2rem;
}

.services {
  text-align: center;
}

.heading {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 35px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
  0 6px 6px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25),
  0 4px 4px #de43ba;
}

span {
  color: #de43ba;
}

@keyframes caida {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  cursor: pointer;
}

.services-box {
  flex: 1 1 calc(15% - 2rem);
  height:530px;
  background: #242b38;
  padding: 3rem 3rem 3rem;
  border-radius: 3rem;
  text-align: center;
  border: 0.3rem solid #242b38;
  margin-bottom: 0.5rem;
  animation: caida 5s ease forwards;
}

.services-box:hover {
  border-color: #de43ba;
  transform: scale(1.02);
}

.services-box i {
  font-size: 2rem;
  color: #de43ba;
  background: rgba(222, 67, 186, 0.2);
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(222, 67, 186, 0.5);
  margin-bottom: 1rem;
}

.services-box h3 {
  font-size: 1.3rem;
  margin: 1rem 0 3rem;
  margin-top: 1rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
  0 6px 6px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25),
  0 4px 4px #de43ba;
}

.services-box p {
  font-size: 1.05rem;
  text-align: left;
  margin-top: 1rem;
}

.right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.right-align .volver {
  background-color: #1f242d;
  color: #de43ba;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25),
    0 6px 6px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.25),
    0 4px 4px #de43ba;
}

.right-align .volver:hover {
  background-color: #de43ba;
  color: #1f242d;
}

::-webkit-scrollbar {
  width: 100%;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to top, #de43ba, #890f6c, #ef08b9);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
