*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #1f242d;
    color: #fff;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

}
.contact h2.heading{
    margin-bottom: 5rem;
    font-size: 2rem;
    margin-top: 5rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  
span{
    color: #de43ba;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    font-size: 1.2rem;
    color:#fff;
    background: #292f3a;
    border-radius: .8rem;
    margin: .7rem 0;
    position: relative;
    border: 2px solid #292f3a;
}

.contact form .input-box input::before,
.contact form textarea::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    right: -2px;
    top: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #45f3ff, #ff2770);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .4s ease-in-out;
}

.contact form .input-box input:focus::before,
.contact form textarea:focus::before {
    transform: scaleX(1);
}

.contact form .input-box input:focus,
.contact form textarea:focus {
    border-color: #de43ba;
    box-shadow: 0 0 10px #de43ba;
    outline: none;
}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}

.contact form button {
    display: block;
    margin: 1rem auto;
    cursor: pointer;
    background: linear-gradient(90deg, #de43ba, #f441a5 30%,#6b0554  60%, #de43ba);
    color: #fff;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
  }
  
  .contact form button:hover {
    background-size: 400%;
    color: #de43ba;
    animation: gradient 1.5s ease-in-out infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  .error {
    background-color: #1f242d;
    color: #de43ba;
    padding: 10px;
    text-align: center;
  }
  

  
  
  
  
 